.rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0; /* Assurez-vous que l'effet couvre tout l'écran */
}

.drop {
    position: absolute;
    width: 2px; /* Largeur fine pour les gouttes */
    height: 100px; /* Hauteur des gouttes */
    background: rgba(255, 255, 255, 0.7); /* Couleur et opacité des gouttes */
    animation: drop 1s linear infinite;
    animation-duration: 1s; /* Vous pouvez ajuster cette valeur si nécessaire */
}

/* Animation des gouttes de pluie */
@keyframes drop {
    0% {
        transform: translateY(-100vh); /* Débute au-dessus du haut de l'écran */
    }
    100% {
        transform: translateY(100vh); /* Tombe jusqu'en bas de l'écran */
    }
}
